<div class="jumbotron">
    <h1>Web API Service</h1>
    <p class="lead">This is a Web API service using Asp.NET MVC for saving contact information to SQL Server database</p>
</div>
<div class="row">
    <h2>API service is running...</h2>
    <p>API Response format: "JSON"</p>
    <p>API Header format: "application/json"</p>
    <br />
    <p>
        Response format: <a href="https://localhost:44398/Help/Api/POST-SaveContact">Click here</a>

    </p>
</div>
